<div class="container-fluid">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button [routerLink]="['/day-001']" mat-menu-item>Day 01</button>
    <button [routerLink]="['/day-004']" mat-menu-item>Day 04</button>
    <button [routerLink]="['/day-005']" mat-menu-item>Day 05</button>
    <button [routerLink]="['/day-007']" mat-menu-item>Day 07</button>
    <button [routerLink]="['/day-008']" mat-menu-item>Day 08</button>
    <button [routerLink]="['/day-010']" mat-menu-item>Day 10</button>
  </mat-menu>
  <router-outlet></router-outlet>
</div>
